/* Partie Page d'accueil */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=family=Playfair+Display:wght@600&display=swap');


html{scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* La barre de navigation de la page*/
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;
}

nav .onglets{
    margin-top: 3px;
    margin-left: 300px;
}

nav .onglets a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 20px;
}
.avatar-img{
    display: block;
    margin-right: auto;
    width: 100px;
}


/* Le haut de page*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('/IMG/System.png');
    background-size: cover;
    color: black;
    padding: 40px;
}

header h1{
    font-family: 'Playfair Display', sans-serif;
    font-size: 50px;
    color: white;
}

header h4{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid white;
    color: white;
}

header button{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    font-size: 20px;
    font-family: 'Playfair Display', sans-serif;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

header button:hover{
    text-decoration: underline;
    cursor: pointer;
}

header button a{
    text-decoration: none;
    color: black;
}

/* Le corps de la page*/

.Containerpage .case1{
    padding-top: 1px;
    background: green;
    border-radius: 20px;
}


/* Le bas de page*/

footer{
    margin-top: 40px;
    border-top: 5px solid #6f6f6f;
    background-color: black;
    color: white;
    padding: 30px 100px;
}

footer h1{
    font-family: 'Playfair Display', sans-serif;
    border-bottom: 1px solid white;
    width: 20%;
    padding-bottom: 5px;
}
footer .services{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

footer .services .service{
    margin-right: 30px;
    padding: 10px;
}

footer .services .service p {
    max-width: 300px;
}

footer #contact{
    color: rgb(181, 181, 181);
}


@media screen and (max-width:680px){
    nav .onglets{
        margin-left: 0px;
        margin-bottom: 20px;
    }

    footer{
        padding: 30px;
    }
}
