*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

/* Boutton inscription, connexion, home */

.box{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    background: linear-gradient(to bottom, black,gray);    border-radius: 5px;
}

.container-button{
    padding: 15px;
    width: 500px;
}

.container-button a{
    text-decoration: none;
    color: white;
    margin: 20px;
    padding: 12px;
    border-radius: 30px;
    background: transparent;
}

.container-button a:hover{
    content: "";
    background: white;
    text-decoration: underline;
    color: black;
    transition: 1s;
}


/* Contenair du body*/
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
    background: black;
}

.container{
    border-radius: 5px;
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    background: white;
}


 /* titre */
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-top: 20px;
}

.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: black;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: black;
}
.cat-details .cat-titre{
    font-size: 20px;
    position: relative;

}

.cat-details .cat-titre:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 30px;
    background: black;
}


form .cat-details .cat{
    display: flex;
    width: 80%;
    margin: 20px 0;
    justify-content: space-between;
}

.cat-details .cat label{
    display: flex;
    align-items: center;
}

.cat-details .cat .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}

#dot-1:checked ~ .cat label .one,
#dot-2:checked ~ .cat label .two{
    border-color: #d9d9d9;
    background: black;
}

form input[type='radio']{
    display: none;
}

form .button{
    height: 45px;
    margin: 45px 0;
    margin-bottom: 0px;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 18px;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(to top, black,gray);
}

form .button input:hover{
    background: linear-gradient(to bottom, black,gray);
    color: white;
    text-decoration: underline;
    transition: 0.5s;
    cursor: pointer;
}



@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details.input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .cat-details .cat{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}
